 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:wght@700&family=Young+Serif&display=swap');

.containerCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: auto;
}


.containerCard div {
    margin: 5px;
}

.title {
    font-family: PT Serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-left: 10vw;
    border-bottom: 2px solid white;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00331f;
    height: 80px;
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
}


.containerImg {
    margin-left: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .sub {
        color: #fff;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }

   
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    background-color: #00331f;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.form input {
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 250px;
    height: 25px;
    border: 1px solid black;
    outline: 1px solid white;
}

.form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    padding: 5px;
}
.form h4 {
    margin: 0;
    color: #fff;
    font-size: 15px;
}



.form button {
    background-color: #ffffff;
    color: #686868;
    height: 40px;
    margin: auto;
    width: 150px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.sucess {
    display: none;
    color: rgb(0, 250, 42);
}

.myCardsTitle {
    margin: auto;
    color: #fff;
}

.containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerCards button {
    background-color: rgb(0, 250, 42);
    padding: 5px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.section {
    height: 400px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.825);
    margin: 10vh auto auto auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.bank {
    color: black;
    text-align: center;
}

.containerBank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerBank div h4 p {
    color: black;
}

.containerBank div {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-bottom: 1px solid black;
}


@media (max-width: 775px) {
    .title {
        display: none;
    }
    .containerImg {
       margin: 50vw;
    }
    .container {
        flex-direction: column;
        margin: 15px;
    }
    .form {
        order: 1;
        width: 290px;
        height: 48vh;
        margin: 10px;
    }
    .form input {
        width: 200px;
        padding: 0;
    }
    .form h4 {
        font-size: 12px;
    }
    .myCardsTitle {
        font-size: 20px;
        margin: auto auto auto 50vw;
    }

    .containerCards {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .myCardsTitle {
        margin: auto auto auto 40vw;
        font-size: 18px;
    }
    .section {
        width: 80vw;
        height: 210px;
    }
    .containerBank div {
        margin: 10px;
    }
}