.nav {
    position: absolute;
    color: #fff;
    text-decoration: none;
}
.container li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 13px;
}


.container li {
   margin: 2px;
}

.container li a:hover {
   border-bottom: 2px solid white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto auto auto 2vw;
    font-weight: bold;
}